.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.navbar {
    background-color: rgb(78, 78, 78);
    display: flex;
    padding: 10px;
    margin: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar:hover {
    background-color: #333;
    color: white;    
}

.navitem:hover {
    background-color: #bdbbbb;
    color: white;
    border: 2px solid #bdbbbb;
    border-radius: 5px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
}


.dropdown:hover .dropdown-content {
    display: block;
}
